body {
	background-color: #ffffff;
	color: #757575;
	font-family: "Roboto";
}

.list {
    list-style: none;
}

/* Logo */
.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: #2196f3;
}

.logo-color {
   color: #000000;;
}
/* Site-nav */

.site-nav .link {
    color: #212121;   
}

.auth-nav {

}
